<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.lazyroommate.LazyRoommate" android:versionCode="1" android:versionName="LazyRoommate Beta">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="24" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="LazyRoommate" android:icon="@drawable/icon">
		<activity android:name="com.microsoft.windowsazure.mobileservices.authentication.RedirectUrlActivity" android:launchMode="singleTop" android:noHistory="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="lazyroommateservice.azurewebsites.net" android:host="easyauth.callback" />
			</intent-filter>
		</activity>
	</application>
</manifest>